.wrapper{
	width:800px;
	margin: 0px auto;
}

#slider{
	width:800px;
	height:600px;
	overflow:hidden;
	margin: 30px auto;
}

#slider > img {
	width: 800px;
	height:600px;
	float: left;
	display: none;
}
	
a {
	padding: 5px 10px;
	background-color: #f0f0f0;
	margin-top: 30px;
	text-decoration: none;
	color:#666;
}

a.left{
	float:left;
}

a.right{
	float:right;
}
